body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  text-align: center;
}

#main {
  width: 626px;
  font-size: 15px;
  font-weight: normal;
  color: #828282;
  margin: 64px auto 64px;
}

#main img {
  margin-bottom: 32px;
}

#main section {
  margin: 0 32px;
}

#main p + p {
  margin-top: 32px;
}

#main p strong {
  color: #3F3D56;
}

h1 {
  font-family: 'Dosis', sans-serif;
  font-size: 32px;
  color: #3F3D56;
}

h1 span {
  color: #EE24FF;
}

p, #footer {
  font-size: 15px;
}

#footer {
  position: fixed;
  bottom: 0;
}

#footer a + a {
  margin-left: 42px; 
}

#footer a {
  color: #3F3D56;
  font-weight: bold;
  text-decoration: none;
}

.line {
  width: 391px;
  border: 1px solid #ECEFF2;
  margin: 0 auto 16px;
}

#footer img {
  margin-top: 32px;
  width: 100%;
}